/* all shared styles here */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* navbar styles starts here */
.nav-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.nav-logo h4{
    font-size: 45px;
    font-weight: 700;
    color: black;
}
.g{
    color: #FF42A5;
}
.nav-menus{
    width: 50%;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menus a{
    text-decoration: none;
    
}
.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}
/* banner styles starts here */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid green;
}
.banner-container{
    
}
.banner-info{
}
.banner-info p, h1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.banner-info h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-info li{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}
.buttons{
    text-align: center;
}
.sign{
    border: none;
    padding: 20px 40px;
    color: white;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.rogue{
    border: none;
    padding: 20px 40px;
    color: white;
    border-radius: 48px;
    background: #4EC5F7;
}
.banner-img{

}






















/* Media Query for Responsive */
@media screen and (max-width: 425px) {
    .nav-container, .nav-menus{
        flex-direction: column;
    }
    .nav-menus{
        margin-top: 20px;
        gap: 30px;
    }
}