/* all shared styles here */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* navbar styles starts here */

.nav-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.nav-logo h4{
    font-size: 45px;
    font-weight: 700;
    color: black;
}
.g{
    color: #FF42A5;
}
.nav-menus{
    width: 50%;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menus a{
    text-decoration: none;
    
}
.follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

/* banner styles starts here */

.banner-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
    display: flex;
    align-items: center;
    background-image: url("./images/Group\ 14.png");
    background-size: 50%;
}
.banner-info{
    width: 50%;
    align-items: center;
    text-align: center;
}
.banner-info h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.banner-info h1{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}
.banner-info p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: 140px;
}
.buttons{
    margin-top: 60px;
    text-align: center;
}
.red{
    color: white;
    padding: 20px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
    cursor: pointer;
}
.red:hover{
    background: #b82d75;
}
.blue{
    color: white;
    padding: 20px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 10px;
    cursor: pointer;
}
.blue:hover{
    background: #3192bb;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    height: 100%;
}

/* gamer styles starts here */

.gamer-container{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-img{
    width: 50%;
}
.gamer-img img{
    width: 100%;
}
.gamer-info{
    width: 50%;
    align-items: center;
    text-align: center;
}
.gamer-info h3{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}
.gamer-info p{
    color: #534C64;
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
}
.gamer-info button{
    color: white;
    padding: 20px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    cursor: pointer;
}
.gamer-info button:hover{
    background: #b82d75;
}
.our{
    color: #534C64;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
}
.gamer-info h5{
    color: #534C64;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

/* card styles here */

.card-container{
    max-width: 1440px;
    margin: 120px auto 0;
}
.card-container h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.card-container p{
    text-align: center;
    color: #534C64;
    font-size: 18px;
}
.card-container span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.all-cards{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.all-cards div{
    width: 342px;
    height: 400px;
}
.all-cards div> p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
}

/* play styles starts from here */

.play-container{
    max-width: 1440px;
    margin: 120px auto 0;
    display: flex;
    align-items: center;
}
.play-info{
    width: 50%;
    text-align: center;
}
.play-info span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.play-info p{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.play-info div> p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 50px;
    padding-right: 100px;
    text-align: left;
}
.play-img{
    width: 50%;
}
.play-img img{
    width: 500px;
    height: 500px;  
}
.second-img{
    text-align: center;
    width: 300px;
    height: 350px;
}
.small-img{
    position: relative; 
    bottom: 100px;
    left: -100px;
    width: 300px;
    height: 350px;
    
}

/* career styles starts from here */

.career{
    min-height: 100px;
    width: 100%;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 120px;
}
.career-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
}
.career-info{
    width: 50%;
    align-items: center;
}
.career-info h2{
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0px 40px;
}
.career-info p{
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 5px 40px;
    margin-bottom: 40px;
}
.un-order{
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.un-order li{
    list-style: none;
}
.career-info button{
    color: #F948B2;
    border-radius: 48px;
    background: #FFF;
    padding: 20px 40px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 140px;
    margin-left: 190px;
}
.career-img{
    width: 50%;
}
.career-img img{
    width: 100%;
    height: 100%;
}

/* tags styles starts from here */

.tags{
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 420px;
}
.tags-container{
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 100px; 
}
.tags-five, .tags-four{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 50px;
}
.five, .four{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
}
.five:hover{
    border: 1px solid #F948B2;
}
.four:hover{
    border: 1px solid #F948B2;
}
.five img{
    width: 50px;
    height: 50px;
}
.four img{
    width: 50px;
    height: 50px;
}
.tags-container p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

/* footer styles starts from here */
































/* Media Query for Responsive */
@media screen and (max-width: 425px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menus{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        background-size: 100%;
    }
    .banner-info{
        width: 100%;
        padding: 20px;
    }
    .banner-img{
        width: 100%;
        padding: 20px;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-info{
        width: 100%;
        padding: 20px;
    }
    .our{
        margin-top: 50px;
    }
    .card-container{
        margin-top: 150px;
    }
    .card-container h2{
        padding-top: 50px;
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .card-container p{
        padding: 10px 30px;
    }
    .all-cards{
        flex-direction: column;
    }
    .all-cards div{
        margin-bottom: 120px;
    }
    .all-cards div> p{
        font-size: 16px;
    }
    /* pending */
    .play-container{
        flex-direction: column;
    }
    .play-info{
        margin-bottom: 20px;
    }
    .play-img{
        width: 100%;
        display: flex;
    }
    .first-img, .second-img{
        width: 100%;
    }
    /* till ends */
    .career-container{
        flex-direction: column;
    }
    .career-info{
        padding: 20px 0px ;
        width: 100%;
    }
    .career-info h2{
        text-align: center;
    }
    .career-info p{
        padding: 10px;
    }
    .career-info > .un-order{
        padding: 10px;
        margin-bottom: 30px;
    }
    .career-info button{
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-right: 100px;
    }
    .career-img{
        width: 100%;
    }
    .tags-five, .tags-four{
        flex-direction: column;
    }
}